<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sendlocationsmsbyrequest">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SendLocationSmsByRequest">


        <!-- Автозагрузка broadcast receiver. Это значит, что приемник смс работает даже если приложение не запущено -->
                <receiver
                    android:name="com.example.sendlocationsmsbyrequest.SmsReceiver"
                    android:enabled="true"
                    android:exported="true">
                    <intent-filter>
                        <action android:name="android.provider.Telephony.SMS_RECEIVED"/>
                    </intent-filter>
                </receiver>


                <meta-data android:name="com.google.android.gms.version"/>

                <activity android:name="com.example.sendlocationsmsbyrequest.MainActivity">
                    <intent-filter>
                        <action android:name="android.intent.action.MAIN" />
                        <category android:name="android.intent.category.LAUNCHER" />
                    </intent-filter>
                </activity>

            </application>

            <uses-permission android:name="android.permission.SEND_SMS" />
            <uses-permission android:name="android.permission.RECEIVE_SMS" />

        </manifest>